extends ./layout.pug

block content
      .container
        .row
          .col-12
            br
            br
            br
            img(src='/img/cart.jpg', width='600', heigh='500')
        .row(class='mainPage')
          .col-2
          .col-8
            br
            div Give your guests a full-bodied experience with our quality mobile coffee cart and fresh espresso service for events. Enjoy unlimited made-to-order, hand-crafted espresso beverages at your next event!
            div Let our travelling coffee cart and professional, friendly baristas create the perfect barista coffee for your next corporate event or private function.
            div Our professional baristas will keep your guests caffeinated with a selection of hot coffee, iced lattes, hot chocolate and tea.
            br
            br
          .col-2
        .row
          .col-2
          .col-4
            img(src='/img/coffee (10).jpg', width='300', heigh='200')
            br
          .col-4
            div Book our quality coffee catering service for:
            ul
              li Corporate event 
              li Promotions
              li Conferences
              li Trade shows
              li Special events
              li Product launches
              li Private parties
              li Weddings
              li Workshops
              li Sales events
              li School Fetes and Fairs
          .col-2