extends ./layout.pug

block content
      .container
        .row
          .col-12
            video(autoplay muted loop id="myVideo")
              source(src="img/coffee-intro.mp4" type="video/mp4")
              p Your browser does not support HTML5 video.
        .row
          .col-2
          .col-8
            h1(class="mainTitle") PASSIONATELY BREWED, WARMLY SERVED.
          .col-2 