extends ./layout.pug

block content
    .container
        .row
          .col-12
            br
            br
            br
            h1 Pricing
        .row
          .col-2
          .col-8
            br
            ul 
                li Fully contained espresso/coffee cart on wheels
                li Two group La Marzocco Linea
                li Homemade Syrups (caramel, chocolate, vanilla) 
                li Drip coffee machine
                li Espresso amd coffee grinders
                li Cups, lids and condiments
                li Cart must have access to dedicated 30 amp circuit, 220 volt and regular 120v plug
            br
            br
          .col-2 
        .row 
          .col-3
            h2 LEVEL 1: $360
            p One hour of unlimited espresso catering for parties up to 50 guests. Additional hours of service available at $150/hour
          .col-3
            h2 LEVEL 2: $540
            p Two hours of unlimited espresso catering for up to 100 guests. Additional hours of service availab le at $180/hour
          .col-3
            h2 LEVEL 3: $675
            p Two hours of unlimited espresso catering for up to 150 guests. Additional hours of service available at $180/hour*
          .col-3
            h2 LEVEL 4: $800
            p Three hours of unlimited espresso service for up to 200 guests. Additional hours of service available at $240/hour*
        .row
          .col-2
          .col-4 
            img(src='/img/coffee (3).jpg', width='360', height='360')
          .col-4 
            img(src='/img/coffee (6).jpg', width='360', height='360')
          .col-2
        .row 
          .col-12
            div If your are interested to book our service do not hesitate to contact us!
