extends ./layout.pug

block content
    .container
        br
        br
        br
        .row 
          .col-12
            div Enjoy personalized espresso beverages at your next espresso catering event! Your espresso service will include unlimited coffee beverages with a hosted-bar style services, allowing your guests to come back as many times as they'd like.  
        br
        .row
          .col-3
          .col-6 
            p
              a(href="#coffee") Coffee
            p 
              a(href="#otherbeverages") Other beverages
            p 
              a(href="#snacks") Snacks and baked goods
          .col-3
        br
        br
        br
        .row
          .col-6 
            img(src='/img/coffee (7).jpg', width='302', height='403', class='service')
          .col-6
            a(name="coffee") Coffee
                ul 
                    br
                    li Double espresso
                    li Single Origin Double Espresso
                    li Americano
                    li Macchiato
                    li Cortado
                    li Flat White
                    li Cappuccino
                    li Latte
                    li Chai latte
                    li Latte - vanilla - caramel - mocho
                    li Brewed coffee of the day (with refill)
                    li Cold brew coffee (available May - September)
            p Soy, almond, coconut milk available upon request.
        br
        br
        br
        .row
          .col-6
            a(name="otherbeverages") Other beverages
                ul 
                    br
                    li Hot tea (Earl Grey, Green, Herbal)
                    li Iced Tea (Black or fruit tea)
                    li Hot chocolate (Dark or White)
                    li Italian soda (always at least 5 different flavours available)
          .col-6    
                img(src='/img/coffee (1).jpg', width='302', height='403', class='service')
        br
        br
        br
        .row
          .col-3
          .col-6 
            a(name="snacks") Snacks and baked goods
                p (From only $21 a dozen!)
                p We work with several local bakeries to provide you with a wide selection of treats to accompany your espresso service.
                p Gourmet breakfast pastries are the perfect addition to morning events.
                p Artisan desserts and cookies compliment your afternoon or evening espresso.
                p Gluten-Free options are available, just ask!
                p Our event planners are happy to take care of all the details of the food service to compliment your espresso catering. Please inquire about pricing and menu options.
          .col-3